.kep{ 
  display:flex;
  width:450px;
  height:400px;
 
}
.Blent {
  display:flex;
  flex-direction:column;
  width:450px;
  position: absolute;
  bottom: 250px;
  letter-spacing:1px;
  
  font-family: 'Abril Fatface', serif;
  font-size: 20px;
  line-height: 0.5;   
}

.n1{
 font-size: 85px;
   margin:0;
 line-height:1;  
 }
.A {
  display: flex;
  margin-top:20px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction:row;
  width-max: 1200px;
  flex-wrap: wrap;
}
.c1{
  margin-top:0;
  padding:20px;
  width: 45%;
 
  margin-left: auto;
  margin-right: auto;
  flex-direction:row;
  justify-content: space-between;
}

h1{
  font-size:25px;
}
p{
  font-size:19px;
}
ul{
  font-size:19px;
  
}
em{
  font-weight: bold;
  font-style: normal;
}
body{
   font-family: 'Josefin Sans',san-serif ;
  color: #001F3F;
   line-height: 1.5;
   font-size: 20px;
  background-color: #7FDBFF;
}
.elso h2{
  margin:0;
  font-weight: normal;
}
blockquote::before {
  content: '”';
  
  position: absolute;
  top: 0;
  left:0;
  color:#1E90FF ;
  font-size: 100px;
 
}
.c2{ 
  display: flex;
  position: relative;
  background:#001F3F ;
  border: 2px  solid white;
  color:#1E90FF;
  font-family: 'Abril Fatface', cursive; 
  font-size: 50px;
  height:100%;
 
  
}
.ex{
  text-transform:uppercase;
  
}
.e1{
  font-style: italic;
}
nav ul {
  list-style-type: none;
border: 2px  solid white;
  display: flex;
  flex-direction: center;
  justify-content: center;
  /*space-between;*/
   align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001F3F;
  
}

nav li {
  float: left;
  
}

nav li a {
 display: block;
 color: white;
  text-align: center;
  padding: 35px 35px;
 font-size: 45px;
  text-decoration: none;
}

li a:hover {
  background-color: #1E90FF;;
}